Repository caddycharles/caddy-ndis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "bash -c 'tsc --noEmit --skipLibCheck'"],
  "*.{js,jsx}": ["prettier --write"],
  "*.{json,css,md}": ["prettier --write"]
}

chore: add .editorconfig for consistent code style
  .editorconfig
Due: none

docs: add CLAUDE.md for AI assistant guidelines
  CLAUDE.md
  README.md
Due: prettier --write

docs: document housekeeping setup completion
  docs/HOUSEKEEPING-SETUP.md
Due: prettier --write

feat: implement complete Epic 2.1 database schema (21 tables)
  convex/auth.config.ts
  convex/auth.ts
  convex/automation.ts
  convex/crons.ts
  convex/http.ts
  convex/schema.ts
  convex/users.ts
  docs/stories/epic-2-participant-management/2.1.story.md
  docs/stories/epic-2-participant-management/2.1a.story.md
  docs/stories/epic-2-participant-management/2.1b.story.md
  docs/stories/epic-2-participant-management/2.1c.story.md
  docs/stories/epic-2-participant-management/2.1d.story.md
Due: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: CI/CD pipeline issues
  .github/workflows/deploy.yml
  src/lib/utils.test.ts
Due: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat: add multi-environment setup with secure configuration
  .env.development.example
  .env.production.example
  .github/workflows/deploy.yml
  docs/CLOUDFLARE_DNS_SETUP.md
  docs/ENVIRONMENT_SETUP.md
  scripts/setup-all-secrets-interactive.sh
  scripts/setup-convex.sh
  scripts/setup-github-secrets.sh
  scripts/verify-dns.sh
  vercel.json
Due: prettier --write

fix: resolve linting and TypeScript errors
  convex/auth.ts
  convex/automation.ts
  convex/http.ts
  convex/lib/rbac.ts
  convex/users.ts
  eslint.config.js
  src/lib/monitoring.ts
  src/lib/utils.test.ts
  src/routes/__root.tsx
  src/routes/index.tsx
Due: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

chore: apply prettier formatting
  src/router.tsx
  src/routes/api.demo-names.ts
  src/routes/demo.start.api-request.tsx
  src/routes/demo.start.server-funcs.tsx
Due: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

chore: format generated files
  .github/workflows/deploy.yml
Due: none

fix: exclude generated route tree from prettier check
  package.json
Due: prettier --write

fix: remove unused Vercel functions config
  vercel.json
Due: prettier --write

fix: simplify Vercel config for TanStack Start
  vercel.json
Due: prettier --write

fix: correct Vercel and Convex deployment commands
  .bmad-core/agent-teams/team-all.yaml
  .bmad-core/install-manifest.yaml
  .bmad-core/templates/architecture-tmpl.yaml
  .bmad-core/templates/brainstorming-output-tmpl.yaml
  .bmad-core/templates/brownfield-architecture-tmpl.yaml
  .bmad-core/templates/brownfield-prd-tmpl.yaml
  .bmad-core/templates/competitor-analysis-tmpl.yaml
  .bmad-core/templates/front-end-architecture-tmpl.yaml
  .bmad-core/templates/front-end-spec-tmpl.yaml
  .bmad-core/templates/market-research-tmpl.yaml
  .bmad-core/templates/prd-tmpl.yaml
  .bmad-core/templates/project-brief-tmpl.yaml
  .bmad-core/templates/story-tmpl.yaml
  .bmad-core/workflows/brownfield-fullstack.yaml
  .bmad-core/workflows/brownfield-service.yaml
  .bmad-core/workflows/brownfield-ui.yaml
  .bmad-core/workflows/greenfield-fullstack.yaml
  .bmad-core/workflows/greenfield-service.yaml
  .bmad-core/workflows/greenfield-ui.yaml
  .bmad-infrastructure-devops/install-manifest.yaml
  .bmad-infrastructure-devops/templates/infrastructure-architecture-tmpl.yaml
  .bmad-infrastructure-devops/templates/infrastructure-platform-from-arch-tmpl.yaml
  .cta.json
  .eslintrc.json
  .github/workflows/deploy.yml
  .prettierrc
  scripts/setup-convex-correct.sh
  vite.config.ts
Due: prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: remove domain alias for now - needs domain configuration
  .github/workflows/deploy.yml
Due: none
